body{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.container{
    width: 600px;
    margin: 50px auto;
    border: 2px solid red;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-areas: "header header"
                          "aside main"
                          "nav main"
                          "footer footer";
    grid-template-columns: repeat(1, 1.5fr) repeat(1, 2fr);
    grid-template-rows: repeat(1, 1fr) repeat(2, 2fr);
}

header{
    grid-area: header;
   background-color: blueviolet;
   padding: 40px 0; 
}

img{
    position: relative;
    bottom: 60px;

}

aside{
    grid-area: aside;
    background-color: aqua;
    padding: 60px 0;

}

nav{
    grid-area: nav;
    background-color: black;
    color: white;
    padding: 40px 0;
} 

main{
    grid-area: main;
    background-color: blueviolet;
    padding: 80px;
}

footer{
    grid-area: footer;
    background-color: brown;
    padding: auto;
}