body{
    background-color: rgb(2, 4, 8);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 26%;
    margin-left: 26%;
    margin-top: 8px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px;
    padding: 16px 16px 16px 16px;
}

h3{
    font-size: 24px;
}

header{
    margin-bottom: 20%;
}

main{
    margin-bottom: 2%;
}

footer{
    margin-bottom: 15%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    position: relative;
    margin: 2px;
    right: 1%;
    bottom: 1px;
}


nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

header nav a:hover{
   color: gray;
}

nav .actived{
    margin-left: 16px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border: 2px;
}

h3{ 
    display: flex;
    float: left;
    position: relative;
    bottom: 23px;
}

main .content{
    font-size: 20px;
    font-weight: 100;
}

h1{
    font-size: 34px;
 }

.content{
    font-weight: 200;
    position: relative;
    bottom: 18px;
    word-spacing: 3px;
 }

.btn{
    position: relative;
    padding: 6px 6px 6px 6px;
    background-color: white;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(2, 4, 8);
    bottom: 10px;
}

.btn:hover{
    color: white;
    background-color: rgb(201, 199, 199);
    font-size: 20px;
    border: 4px solid rgb(201, 199, 199);
    border-radius: 4px;
    text-decoration: none; 
}

.copy{
    font-size: 12px;
    color: gray;
    box-sizing: border-box;
    position: relative;
    top: 120px;
}