body{
    background-color: rgb(2, 4, 8);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 'header header'
                          'main aside'
                          'footer footer';
    margin-left: 79px;
    margin-right: 79px;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    margin-right: 100px;
}

p{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: lighter;
}

aside{
    grid-area: aside;
}

.socmed ul li{
    margin-bottom: 5px;
}

.contact-person ul li{
    margin-bottom: 5px;    
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

footer h3{
    text-align: center;
    font-weight: 400;
}

ul{
    font-weight: 200;
    text-align: center;
    padding-left: 0px;
}

li{
    list-style: none;
}

.socmed{
    border: 2px solid white;
    border-radius: 4px;
    padding: 16px;
}

.contact-person{
    border: 2px solid white;
    border-radius: 2px;
    padding: 16px;
}

nav{
    margin-top: 25px;
}

button{
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 17px;
    background-color: white;
    border: 1px;
    border-radius: 8px;
}

button:hover{
    background-color: grey;
    color: white;
    transition: .20s;
}