body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(2, 4, 8);
    color: white;
    margin: 0px;
}

.judul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding-bottom: 16px;
    margin-bottom: 23px;
    border-bottom: 1px solid grey;
}

.container{
    margin: 0 215px 0 215px;
    padding: 16px 12px 16px 12px;
    box-sizing: border-box;
}


nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 3;
}

a:hover{
    color: grey;
    transition: .20s;
}

.link{
    margin-left: 23px;
}

span{
    line-height: 3;
    font-weight: 400;
    font-size: 26px;
}

.isi{
    text-align: center;
    padding: 16px 16px 24px 16px;
}

.main-title{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 0px;
}

p{
    font-size: 23px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    margin-bottom: 16px;
}

.top{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: grid;
    text-align: center;
    grid-template-areas: 'card1 card2 card3';
    grid-gap: 30px;
}

ul{
    list-style: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(2, 4, 8);
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    padding: 0px;
}

.card-body{
    padding: 16px;
}

h1{
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 45px;
}

small{
    color: gray;
    font-weight: 400;
}

button{
    width: 100%;
    padding: 16px;
    font-size: 20px;
}

.butt1{
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.butt1:hover{
    background-color: grey;
    color: white;
    transition: .20s;
}

.butt2, .butt3{
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgb(192, 192, 192);
}

.butt2:hover, .butt3:hover{
    background-color: grey;
    border: 1px solid grey;
    color: white;
    transition: .20s;
}

.card3{
    border: 1px solid rgb(80, 79, 79);
}

.card3 .card-header{
    border-bottom: 1px solid rgb(80, 79, 79);
}

.card3 .card-header h4{
    background-color: rgb(80, 79, 79);
    border-radius: 0px;
    color: white;
}

h4{
    border-bottom: 1px solid rgb(119, 119, 119);
    background-color: rgb(243, 242, 242);
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 400;
}

.card2{
    display: flex;
    flex-direction: column;
    
}
