<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        body{
            margin: 5%;
        }

        .active{
            background-color: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-3">
    <div id="app">
        <header-component nama="Dhito" gambar="https://v2.vuejs.org/images/logo.svg"></header-component>

        <nav>
            <router-link to="/bar">Home</router-link>
            <router-link to="/foo">About</router-link>
            <router-link to="/bar">Kelas</router-link>
        </nav>

        <main>
            <!-- <class v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas($event)"></class> -->
            <!-- <home></home> -->
        </main>

        <footer-component>
            <p>Copykanan 2022 - OK</p>
        </footer-component>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script>
        const Home = {
            template: '<p>Home</p>'
        }

        const About = {
            template: '<p>About</p>'
        }

        const Kelas = {
            props: ['items'],
            template: `
            <div>
                <h3>Tambah Kelas</h3>
            <p><input type="text" placeholder="Type anything" v-on:keyup.enter="$emit('submitkelas', $event)"></p>
            
            <hr>
            
            <h3>Daftar Kelas ({{ items.length }})</h3>
            
            <template v-if="items.length > 0">
                <ul>
                    <li v-for="(item, index) of items">{{index+1}} - {{item}}   
                    &nbsp; <a href="" v-on:click.prevent="$emit('hapuskelas', index)">X</a>    
                    </li>
                </ul>
                </template>
                    <li v-else class="mb-3">Belum bayar SPP...</li> 

            </div>
            `,
            
            // data: () => {
            //     return{
           
            //     }
            // },

            methods: {}
        }

        Vue.component('header-component', {
            props: ['nama', 'gambar'],
           template:  `
            <header>
                <img :src="gambar" alt="" width="200px">
            
                <p>{{'Hello, ' +nama}}</p>
            </header>
           `,
           data: () => {
            return{
                pesan: 'ZA WARUDOO!!'
            }
           }
        })

        Vue.component('footer-component', {
            template: `
            <footer id="footer">
                <slot></slot>
            </footer>
            `
        })

        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/kelas', component: Kelas}
        ]

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes, // short for `routes: routes`
        })
        
        const member = {
            kelas: [],
            teksbaru: "",
        }
        
        const vm = new Vue({
            el: '#app',
            router: router,
            data: member,
            // components: {
            //     'home' : Home
            // },

            methods: {
                hapuskelas: function(index) {
                    member.kelas.splice(index, 1)
                },
                
                submitkelas: function(event) {
                    //console.log(event.target.value)
                    const text = event.target.value
                    this.kelas.push(text)
                }
            },


            computed: {
                totalBayar: function() {
                }
            }
        })
    </script>
</body>
</html>