<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        body{
            margin: 5%;
        }

        .active{
            background-color: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-3">
    <div id="app">
        <header>
            <img src="download.jpg" alt="" width="200px">
            <h1 v-text="name"></h1>
            <p><Button @click="handleClick">Klik cuy!!</Button></p>
            <!-- <h1>{{bilangan}}</h1> -->
            
            <h3>Form Submit</h3>
            <p><input type="text" placeholder="Type anything" v-on:keyup.enter="submit" v-model="teksbaru"></p>
<br><br>
            <h3>Daftar kelas ({{kelas.length}})</h3>
            <ul v-if="kelas.length > 0">
                <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
            </ul>
                <li v-else>Belum bayar SPP jadi kelas belum ada, ehe~</li>


            <h3 class="mt-3">Perulangan 1-5</h3>
            <ul> 
                <li v-for="x in 5">{{ x }}</li>
            </ul>

            <h3>mencari bilangan genap: {{ numbers }}</h3>
            <ul>
                <li v-for="x in caribilangangenap(numbers)">{{x}}</li>
            </ul>

            <!-- <p>Bilangan ini adalah bilangan {{ infoBilangan }}</p> -->
            <p>{{message}}</p>
            <div class="baru">
                <a v-bind:class="{active:menu === 'home'}" href="#" v-on:click.prevent="gantimenu('home')">Home</a>
                <a v-bind:class="{active:menu === 'about'}" href="#" v-on:click.prevent="gantimenu('about')">About</a>
                <a v-bind:class="{active:menu === 'blog'}" href="#" v-on:click.prevent="gantimenu('blog')">Blog</a>
            </div>
            
            <p>{{ kelas }}</p>
            
            <div class="mt-3">
                <label for="check1"><input type="checkbox" value="React" v-model="kelas" id="check1"> React</label>
                <label for="check2"><input type="checkbox" value="Vuejs" v-model="kelas" id="check2"> Vuejs</label>
                <label for="check3"><input type="checkbox" value="Angular" v-model="kelas" id="check3"> Angular</label>
            </div>
        </header>
        
        <img :src="gambar" alt="" width="150px" class="mt-4">

        <footer id="footer">
            <p>Copykanan 2022</p>
        </footer>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0"></script>
    <script>
        const member = {
            name: 'DIO',
            message: 'ZA WARUDOO!!',
            qty: 30,
            namaDepan: 'Dio  ',
            namaBelakang: 'Brando',
            bilangan: 1,
            gambar: 'thomas_shelby_sholat.jpg',
            menu: 'home',
            kelas: ['Golang', 'PHP'],
            teksbaru: "",
            numbers: [1, 2, 3, 4, 5, 6, 7]
        }

        const vm = new Vue({
            el: '#app',
            data: member,
            methods: {
                getname: function() {
                    return 'Hello, ' + this.name 
                },
                ubahNama: function(namaBaru) {
                this.name = namaBaru
                },
                handleClick: function() {
                    member.bilangan++
                    member.gambar = 'anya.jpg'
                },
                caribilangangenap: (item) => {
                    return item.filter (angka => {
                        return angka %2 == 0
                    })
                },
                gantimenu: function(data) {
                    member.menu = data
                },
                submit: (event) => {
                    let text = event.target.value
                    member.kelas.push(member.teksbaru)
                    member.teksbaru = ''
                }
            },  

            computed: {
                totalBayar: function() {
                    return this.qty * 10000
                },
                // namaLengkap: function() {
                //     return this.namaDepan + this.namaBelakang
                // },

                infoBilangan: function() {
                    return member.bilangan%2 === 0 ? 'Genap' : 'Ganjil'
                }
            }
        })
    </script>
</body>
</html>