body{
    background-color: #dcf2f3;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1{
    padding: 15px 0px;
    justify-content: center;
    align-content: center;
}

.sign-group{
    width: 350px;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 17%;
}

.sign{
    background-color: #3bbac4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.sign-group h1{
   width: 100%;
   margin-bottom: 25px;
   margin: 0 0 20px;
}

.sign-group .in-put .input{
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    border: 2px solid black;
    border-radius: 2px;
}

.input{
    height: 52px;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px; 
}

.in-put{
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border: 2px;
}

.lbl{
    float: left;
    display: block;
    position: relative;
    bottom: 53px;
    left: 5px;
    font-size: small;
    color: rgb(0, 0, 0);
}



input[type="submit"]:hover{
    width: 100%;
	background-color: rgba(54, 134, 128, 0.5);
	color: #fff
}

.rm{
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border: 2px;  
}

.check, .rm{
    position: relative;
    bottom: 15px;
}    

p{
    font-size: 14px;
    color: rgb(105, 105, 105);
    position: relative;
    bottom: 10px;
}


