body{
    display: flex;
    background-color: rgb(2, 4, 8);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 35px 30px 35px 35px;
    padding: 17px 17px 17px 17px;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.container{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 50%;
}

h2{
    font-size: 34px;
}

p{
    font-weight: 300;
    font-size: 19px;
}

b{
    font-style: italic;
}

.core{
    text-align: center;
    font-size: 17px;
    position: relative;
    top: 15px;
}

tbody tr .religion{
    text-align: left;
    font-size: 17px;
}

.btn{
    position: relative;
    padding: 6px 6px 6px 6px;
    background-color: white;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(2, 4, 8);
    top: 30px;
}

.btn:hover{
    color: white;
    background-color: rgb(201, 199, 199);
    font-size: 20px;
    border: 4px solid rgb(201, 199, 199);
    border-radius: 4px;
    text-decoration: none; 
}

